# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv
.env
.env.*.local

# Logs
logs/
*.log
*.log.*

# Build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Git
*.orig
